.integrations-wrapper > header {
    display: flex;
    flex-direction: row;

    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 5px 20px;

    background-color: #dddddd;

    overflow-x: scroll;
}

.integrations-wrapper span {
    float: none;
    display: inline-block;
    text-decoration: none;
    padding: 5px 20px;
}

.integrations-wrapper span.active {
    background-color: #ffffff;
    color: #000000;
}

.integrations-wrapper > section {
    padding: 20px;
    width: 100%;
}