/**/
.dashboard {
    height: auto;
    overflow-y: scroll;
    padding: 0 20px;
}
.dashboard .primary {
    width: 100%;
}

.dashboard .secondary {
    width: 100%;
}

.top-charts {
    width: 100%;
    min-height: 250px;

    border: 1px solid #D7EEFF;
    border-radius: 5px;

    margin-top: 20px;
}

.top-charts > .title {
    border-bottom: 1px solid #E5E5E5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 10px;

    line-height: 35px;
}

@media screen and (min-width:481px) {
    .dashboard {
        padding: 0 25px;
    }

    .dashboard .primary {
        width: 70%;
    }

    .dashboard .secondary {
        width: 30%;
        padding-left: 20px;
    }

    .dashboard .primary, .dashboard .secondary {
        height: 90vh;
        overflow-y: scroll;
    }

    .top-charts > .title {  
        font-size: 1.25rem;
        line-height: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .dashboard {
        padding: 0 150px 0 50px;
    }
}