.stat-card-title {
    font-size: 0.9em;
}

.stat-card-value {
    font-size: 1.25em;
    font-weight: 500;
}

@media screen and (min-width:481px) {
    .stat-card-title {
        font-size: 1.15em;
        letter-spacing: 0.05rem;
    }

    .stat-card-value {
        font-size: 1.75em;
        font-weight: 700;
    }
}

@media screen and (min-width:1280px) {
    .stat-card-title {
        letter-spacing: 1px;
    }

    .stat-card-value {
        font-size: 1.85em;
        font-weight: 700;
        letter-spacing: 1px;
    }
}