/** BACKGROUND **/
.gm-bg-black-0 {
    background-color: #000000;
}

.gm-bg-black-1 {
    background-color: #1A1A1A;
}

.gm-bg-black-2 {
    background-color: #333333;
}

.gm-bg-black-3 {
    background-color: #4D4D4D;
}

.gm-bg-black-4 {
    background-color: #666666;
}

.gm-bg-black-5 {
    background-color: #808080;
}

.gm-bg-black-6 {
    background-color: #999999;
}

.gm-bg-black-7 {
    background-color: #B2B2B2;
}

.gm-bg-black-8 {
    background-color: #CCCCCC;
}

.gm-bg-black-9 {
    background-color: #E5E5E5;
}

.gm-bg-black-10 {
    background-color: #F2F2F2;
}

.gm-bg-black-11 {
    background-color: #F7F7F7;
}

/** TEXT **/
.text-black-0 {
    color: #000000;
}

.text-black-1 {
    color: #1A1A1A;
}

.text-black-2 {
    color: #333333;
}

.text-black-3 {
    color: #4D4D4D;
}

.text-black-4 {
    color: #666666;
}

.text-black-5 {
    color: #808080;
}

.text-black-6 {
    color: #999999;
}

.text-black-7 {
    color: #B2B2B2;
}

.text-black-8 {
    color: #CCCCCC;
}

.text-black-9 {
    color: #E5E5E5;
}

.text-black-10 {
    color: #F2F2F2;
}

.text-black-11 {
    color: #F7F7F7;
}

/** BORDER **/
.border-black-0 {
    border-color: #000000;
}

.border-black-1 {
    border-color: #1A1A1A;
}

.border-black-2 {
    border-color: #333333;
}

.border-black-3 {
    border-color: #4D4D4D;
}

.border-black-4 {
    border-color: #666666;
}

.border-black-5 {
    border-color: #808080;
}

.border-black-6 {
    border-color: #999999;
}

.border-black-7 {
    border-color: #B2B2B2;
}

.border-black-8 {
    border-color: #CCCCCC;
}

.border-black-9 {
    border-color: #E5E5E5;
}

.border-black-10 {
    border-color: #F2F2F2;
}

.border-black-11 {
    border-color: #F7F7F7;
}