/** BACKGROUND  **/
.gm-bg-blue-0 {
    background-color: #022238;
}

.gm-bg-blue-1 {
    background-color: #042C48;
}

.gm-bg-blue-2 {
    background-color: #19415E;
}

.gm-bg-blue-3 {
    background-color: #1D5176;
}

.gm-bg-blue-4 {
    background-color: #23608C;
}

.gm-bg-blue-5 {
    background-color: #3283BD;
}

.gm-bg-blue-6 {
    background-color: #62A8DB;
}

.gm-bg-blue-7 {
    background-color: #99CCF1;
}

.gm-bg-blue-8 {
    background-color: #C1E3FB;
}

.gm-bg-blue-9 {
    background-color: #D7EEFF;
}

.gm-bg-blue-10 {
    background-color: #E8F5FF;
}

.gm-bg-blue-11 {
    background-color: #F4F8FB;
}

/** TEXT **/
.text-blue-0 {
    color: #022238;
}

.text-blue-1 {
    color: #042C48;
}

.text-blue-2 {
    color: #19415E;
}

.text-blue-3 {
    color: #1D5176;
}

.text-blue-4 {
    color: #23608C;
}

.text-blue-5 {
    color: #3283BD;
}

.text-blue-6 {
    color: #62A8DB;
}

.text-blue-7 {
    color: #99CCF1;
}

.text-blue-8 {
    color: #C1E3FB;
}

.text-blue-9 {
    color: #D7EEFF;
}

.text-blue-10 {
    color: #E8F5FF;
}

.text-blue-11 {
    color: #F4F8FB;
}

/** BORDER **/
.border-blue-0 {
    border-color: #022238;
}

.border-blue-1 {
    border-color: #042C48;
}

.border-blue-2 {
    border-color: #19415E;
}

.border-blue-3 {
    border-color: #1D5176;
}

.border-blue-4 {
    border-color: #23608C;
}

.border-blue-5 {
    border-color: #3283BD;
}

.border-blue-6 {
    border-color: #62A8DB;
}

.border-blue-7 {
    border-color: #99CCF1;
}

.border-blue-8 {
    border-color: #C1E3FB;
}

.border-blue-9 {
    border-color: #D7EEFF;
}

.border-blue-10 {
    border-color: #E8F5FF;
}

.border-blue-11 {
    border-color: #F4F8FB;
}