/** BACKGROUND **/
.gm-bg-green-0 {
    background-color: #02380B;
}

.gm-bg-green-1 {
    background-color: #04480F;
}

.gm-bg-green-2 {
    background-color: #195E24;
}

.gm-bg-green-3 {
    background-color: #1D762B;
}

.gm-bg-green-4 {
    background-color: #238C35;
}

.gm-bg-green-5 {
    background-color: #32BD49;
}

.gm-bg-green-6 {
    background-color: #62DB76;
}

.gm-bg-green-7 {
    background-color: #99F1A7;
}

.gm-bg-green-8 {
    background-color: #C1FBCB;
}

.gm-bg-green-9 {
    background-color: #D7FFDD;
}

.gm-bg-green-10 {
    background-color: #E8FFEC;
}

.gm-bg-green-11 {
    background-color: #F4FBF6;
}

/** TEXT **/
.text-green-0 {
    color: #02380B;
}

.text-green-1 {
    color: #04480F;
}

.text-green-2 {
    color: #195E24;
}

.text-green-3 {
    color: #1D762B;
}

.text-green-4 {
    color: #238C35;
}

.text-green-5 {
    color: #32BD49;
}

.text-green-6 {
    color: #62DB76;
}

.text-green-7 {
    color: #99F1A7;
}

.text-green-8 {
    color: #C1FBCB;
}

.text-green-9 {
    color: #D7FFDD;
}

.text-green-10 {
    color: #E8FFEC;
}

.text-green-11 {
    color: #F4FBF6;
}

/** BORDER **/
.border-green-0 {
    border-color: #02380B;
}

.border-green-1 {
    border-color: #04480F;
}

.border-green-2 {
    border-color: #195E24;
}

.border-green-3 {
    border-color: #1D762B;
}

.border-green-4 {
    border-color: #238C35;
}

.border-green-5 {
    border-color: #32BD49;
}

.border-green-6 {
    border-color: #62DB76;
}

.border-green-7 {
    border-color: #99F1A7;
}

.border-green-8 {
    border-color: #C1FBCB;
}

.border-green-9 {
    border-color: #D7FFDD;
}

.border-green-10 {
    border-color: #E8FFEC;
}

.border-green-11 {
    border-color: #F4FBF6;
}