/** BACKGROUND  **/
.gm-bg-orange{
    background-color: #FF9B31;
}

/** TEXT **/
.text-orange{
    /* color: #FF7F08;FF8F26 */
    color: #FF9B31;
}

.text-orange-light{
    /* color: #FF7F08;FF8F26 */
    color: #FFBC75;
}

/** BORDER **/

.border-orange {
    border-color: #FF7F08;
}