/** BACKGROUND **/
.gm-bg-purple-0 {
    background-color: #1A0238;
}

.gm-bg-purple-1 {
    background-color: #240448;
}

.gm-bg-purple-2 {
    background-color: #39195E;
}

.gm-bg-purple-3 {
    background-color: #461D76;
}

.gm-bg-purple-4 {
    background-color: #54238C;
}

.gm-bg-purple-5 {
    background-color: #7332BD;
}

.gm-bg-purple-6 {
    background-color: #9A62DB;
}

.gm-bg-purple-7 {
    background-color: #C299F1;
}

.gm-bg-purple-8 {
    background-color: #DCC1FB;
}

.gm-bg-purple-9 {
    background-color: #E9D7FF;
}

.gm-bg-purple-10 {
    background-color: #F3E8FF;
}

.gm-bg-purple-11 {
    background-color: #F7F4FB;
}

/** TEXT **/
.text-purple-0 {
    color: #1A0238;
}

.text-purple-1 {
    color: #240448;
}

.text-purple-2 {
    color: #39195E;
}

.text-purple-3 {
    color: #461D76;
}

.text-purple-4 {
    color: #54238C;
}

.text-purple-5 {
    color: #7332BD;
}

.text-purple-6 {
    color: #9A62DB;
}

.text-purple-7 {
    color: #C299F1;
}

.text-purple-8 {
    color: #DCC1FB;
}

.text-purple-9 {
    color: #E9D7FF;
}

.text-purple-10 {
    color: #F3E8FF;
}

.text-purple-11 {
    color: #F7F4FB;
}

/** BORDER **/
.border-purple-0 {
    border-color: #1A0238;
}

.border-purple-1 {
    border-color: #240448;
}

.border-purple-2 {
    border-color: #39195E;
}

.border-purple-3 {
    border-color: #461D76;
}

.border-purple-4 {
    border-color: #54238C;
}

.border-purple-5 {
    border-color: #7332BD;
}

.border-purple-6 {
    border-color: #9A62DB;
}

.border-purple-7 {
    border-color: #C299F1;
}

.border-purple-8 {
    border-color: #DCC1FB;
}

.border-purple-9 {
    border-color: #E9D7FF;
}

.border-purple-10 {
    border-color: #F3E8FF;
}

.border-purple-11 {
    border-color: #F7F4FB;
}