/** BACKGROUND **/
.gm-bg-wine-0 {
    background-color: #380213;
}

.gm-bg-wine-1 {
    background-color: #480418;
}

.gm-bg-wine-2 {
    background-color: #5E192E;
}

.gm-bg-wine-3 {
    background-color: #761D37;
}

.gm-bg-wine-4 {
    background-color: #8C2343;
}

.gm-bg-wine-5 {
    background-color: #BD325B;
}

.gm-bg-wine-6 {
    background-color: #DB6286;
}

.gm-bg-wine-7 {
    background-color: #F199B3;
}

.gm-bg-wine-8 {
    background-color: #FBC1D3;
}

.gm-bg-wine-9 {
    background-color: #FFD7E3;
}

.gm-bg-wine-10 {
    background-color: #FFE8EF;
}

.gm-bg-wine-11 {
    background-color: #FBF4F6;
}

/** TEXT **/
.text-wine-0 {
    color: #380213;
}

.text-wine-1 {
    color: #480418;
}

.text-wine-2 {
    color: #5E192E;
}

.text-wine-3 {
    color: #761D37;
}

.text-wine-4 {
    color: #8C2343;
}

.text-wine-5 {
    color: #BD325B;
}

.text-wine-6 {
    color: #DB6286;
}

.text-wine-7 {
    color: #F199B3;
}

.text-wine-8 {
    color: #FBC1D3;
}

.text-wine-9 {
    color: #FFD7E3;
}

.text-wine-10 {
    color: #FFE8EF;
}

.text-wine-11 {
    color: #FBF4F6;
}

/** BORDER **/
.border-wine-0 {
    border-color: #380213;
}

.border-wine-1 {
    border-color: #480418;
}

.border-wine-2 {
    border-color: #5E192E;
}

.border-wine-3 {
    border-color: #761D37;
}

.border-wine-4 {
    border-color: #8C2343;
}

.border-wine-5 {
    border-color: #BD325B;
}

.border-wine-6 {
    border-color: #DB6286;
}

.border-wine-7 {
    border-color: #F199B3;
}

.border-wine-8 {
    border-color: #FBC1D3;
}

.border-wine-9 {
    border-color: #FFD7E3;
}

.border-wine-10 {
    border-color: #FFE8EF;
}

.border-wine-11 {
    border-color: #FBF4F6;
}