/**/
.mailing-list-selector {
    z-index: 10;
}

.css-g1d714-ValueContainer {
    width: 92.5%;
    padding-left: 10px;
}

.css-1hb7zxy-IndicatorsContainer {
    width: 7.5%;
}

.css-xb97g8 {
    width: 6.5%;
}

.tox-editor-header {
    z-index: 0 !important;
}

.tox.tox-tinymce {
    border: 1px solid #D7EEFF !important;
    border-bottom: 2px solid #99CCF1 !important;
}

.tox-toolbar__primary {
    background: none !important;
    background-color: #F4F8FB !important;
    border: none !important;
    border-bottom: 1px solid #D7EEFF !important;

    z-index: 0 !important;
}

.tox-toolbar__overflow.tox-toolbar__overflow--open {
    background: none !important;
}

.tox-toolbar__group {
    border: 1px solid #E8F5FF !important;
}

.tox-pop__dialog {
    display: none !important;
}

.tox-statusbar {
    background-color: #F4F8FB !important;
    border: none !important;
}

.tox-statusbar__branding {
    display: none !important;
}

.wildcard-list ol {
    width: 350px;
    padding-left: 20px;
}

.wildcard-list li {
    width: 100%;
    padding: 0;
    margin-left: 0;
}