/**/
.mailing-list-selector {
    z-index: 10;
}

.css-g1d714-ValueContainer {
    width: 92.5%;
    padding-left: 10px;
}

.css-1hb7zxy-IndicatorsContainer {
    width: 7.5%;
}

.css-xb97g8 {
    width: 6.5%;
}

div.tox-editor-header {
    z-index: 0 !important;
}