/**/
.content-header {
    /* border-bottom: 1px solid #dedede; */
    width: auto;
    float: left;
}
.content-header-actions {
    width: auto;
    
    font-size: 1.15em;
}

.list-stats-wrapper {
    height: 200px;
    /* border: 1px solid slateblue; */
}


.floating-btn-wrapper {
    position: fixed;
    bottom: 20px;
    right: 10px;

    width: auto;
    height: auto;

    border-radius: 50px;
    
    z-index: 5;
    padding: 15px 10px 7px 10px;
    background-color: hsla(342, 58%, 47%, 0.85);

    z-index: 9;
}

.icon-tray {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.floating-action-btn {
    /* margin-right: 15px; */
    border-radius: 50%;
    width: 20px;

    color: #E8F5FF;
}

@media screen and (min-width:481px) {
    .audience-dashboard > div:first-child {
        float: right;
    }

    .audience-dashboard > div:last-child {
        float: left;
    }
 
    /* .icon-tray {
        right: 50px;
    } */
}

@media screen and (min-width: 1280px) {
    /* .icon-tray {
        top: 17%;
        right: 250px;
        width: 110px;
    } */
}