/**/
.content-header {
    /* border-bottom: 1px solid #dedede; */
    width: auto;
    float: left;
}
.content-header-actions {
    width: auto;
    
    font-size: 1.15em;
}

.list-stats-wrapper {
    height: 200px;
    border: 1px solid slateblue;
}