/**/
.content-header {
    /* border-bottom: 1px solid #dedede; */
    width: auto;
    float: left;
}
.content-header-actions {
    width: auto;
    
    font-size: 1.15em;
}

.list-stats-wrapper {
    height: 200px;
    /* border: 1px solid slateblue; */
}

@media screen and (min-width:481px) {
    .audience-dashboard > div:first-child {
        float: right;
    }

    .audience-dashboard > div:last-child {
        float: left;
    }
 
    /* .icon-tray {
        right: 50px;
    } */
}

@media screen and (min-width: 1280px) {
    /* .icon-tray {
        top: 17%;
        right: 250px;
        width: 110px;
    } */
}