/**/
input {
    background-color: #ffffff;
}

input[type="date"] {
    width: 100%;
    background-color: transparent !important;
}

.form-row {
    margin: 0;
}

label {
    font-size: 14px;
    color: #19415E;
}

.gm-input-group {
    margin-bottom: 5px;
}

.gm-input, select.gm-input {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 5px;
    padding: 0;
    padding-left: 10px;

    line-height: 35px;
    width: 100%;

    background-color: #F7F7F7;
    color: #19415E;
}

.gm-input:focus, .gm-input:valid {
    border-bottom: 1px solid #99CCF1;
    background-color: #F4F8FB;
}

select.gm-input {
    padding: 10px 0 10px 0;
}

/* 3rd party */
.go2646822163, .gm-input[type="date"]{
    border-radius: 5px;
    margin: 0;
}