/**/
input {
    background-color: #ffffff;
}

input[type="date"] {
    width: 100%;
    background-color: transparent !important;
    padding: 5.5px 10px;
}

.form-row {
    margin: 0;
}

label {
    font-size: 14px;
    color: #19415E;
}

.gm-input-group {
    margin-bottom: 5px;
}

.gm-input, select.gm-input, .go2646822163 {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 5px;
    padding: 0;
    padding-left: 10px;

    line-height: 35px;
    width: 100%;

    background-color: #F7F7F7;
    color: #19415E;
}

.gm-input:focus, .gm-input:valid {
    border-bottom: 1px solid #99CCF1;
    background-color: #F4F8FB;
}

.go2646822163 {
    border-bottom: 1px solid #99CCF1;
    background-color: #F4F8FB;
}

select.gm-input {
    padding: 15px 0;
}

@media screen and (min-width: 480px) {
    .gm-input {
        line-height: 40px;
    }
    
    .go2646822163 {
        padding: 3px 0;
    }

    input[type="date"] {
        padding: 1.5px 0;
    }

    select.gm-input {
        padding: 10.5px 5px;
    }
}

@media screen and (min-width: 1024px) {
    .gm-input {
        line-height: 45px;
    }

    select.gm-input {
        padding: 12.5px 0;
    }

    input[type="date"] {
        padding: 2.0px 0;
    }

    .go2646822163 {
        padding: 6px 0;
    }
}