/**/
header.member-area-header {

    position: sticky;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;
    padding: 10px 20px;

    z-index: 2;
    
    background-color: #ffffff;
    border-bottom: 1px solid #E1F2FF;
}

.header-body {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: fit-content;
}

.hamburger-icon {
    width: 25px;
    float: left;

    margin-right: 10px;
    padding-top: 5px;
}

.hamburger-icon > span {
    font-size: 22px;
}

.page-title {
    width: fit-content;
    font-size: 1.25rem;
    color: #f7f7f7;

    /* text-transform: uppercase; */
}

.page-title-underline {
    border-top: 2px solid rgb(133, 0, 29);
    width: 25%;
}

@media screen and (min-width:481px){
    header.member-area-header {
        height: 60px;
        padding: 15px 25px;
    }

    .page-title {
        font-size: 1.25em;
    }
}

@media screen and (min-width:1280px){
    .hamburger-icon {
        display: none;
    }

    header.member-area-header {
        padding-left: 50px;
    }

    .page-title {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}