/**/
header.member-area-header {
    width: 100%;
    padding: 10px 0;
}

.page-title {
    font-size: 1.25em;
    margin-bottom: 5px;
    color: rgb(0, 75, 125);
}

.page-title-underline {
    border-top: 3px solid rgb(133, 0, 29);
    width: 15%;
}