.info-card {
    height: 100%;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.info-card > header {
    float: right;

    /* height: 40px; */
    width: 85%;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 35px;
    padding: 5px;
    
    background-color: #F4F8FB;

    cursor: pointer;
}

.info-card > header > .icon {
    width: 50px;
    margin-right: 10px;
}

.info-card > header > .name {
    width: 210px;
    line-height: 40px;
}

.info-card > section {
    position: relative;
    bottom: -165px;

    width: 85%;
    float: right;

    font-family: 'Frank Ruhl Libre';
    font-size: 48px;
    letter-spacing: 3px;
    line-height: 48px;
}

.info-card > section > div:last-child {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1.6px;
}