.info-card {
    height: 100%;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.info-card > header {
    float: right;

    width: 90%;
    margin-top: 35px;

    cursor: pointer;
}

.info-card > header > .icon {
    width: 32px;
    margin-right: 10px;
}

.info-card > section {
    position: relative;
    bottom: -248px;

    width: 90%;
    padding-left: 10%;

    font-family: 'Frank Ruhl Libre';
    font-size: 38px;
    line-height: 36px;
}

.info-card > section > div:last-child {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.75px;
}

@media screen and (min-width: 1024px) {
    .info-card > section {
        bottom: -238px;
        font-size: 50px;
        line-height: 44px;
    }
    
    .info-card > section > div:last-child {
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 1px;
    }
}