
button:disabled {
    color: #aaaaaa;
    border-color: #aaaaaa;
}

/**/
.gm-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 5px;
    padding: 0 25px;
    height: 45px;
    text-align: center;

    cursor: pointer;
}

.gm-btn:active {
    border: none;
}

.gm-btn-primary {
    background: rgb(0, 151, 197);
    color: #ffffff;
}

.gm-btn-info {
    background: rgb(2, 162, 184);
    color: #ffffff;
}

.gm-btn-secondary {
    background: rgba(141, 0, 42, 0.698);
    color: #ffffff;
}

.gm-btn-spinner {
    float: right;
    margin-left: 10px;
}

/**/
.flexible-save-btn {
    width: 100%;
    text-transform: uppercase;
}

@media screen and (min-width:481px){
    .flexible-save-btn {
        float: right;
        width: fit-content;
    }
}