/**/
.gm-btn {
    border: none;
    border-radius: 5px;
    padding: 0 25px;
    height: 35px;
    text-align: center;
}

.gm-btn:active {
    border: none;
}

.gm-btn-primary {
    background: rgb(0, 151, 197);
    color: #ffffff;
}

.gm-btn-info {
    background: rgb(2, 162, 184);
    color: #ffffff;
}

.gm-btn-secondary {
    background: rgba(141, 0, 42, 0.698);
    color: #ffffff;
}

/**/
.flexible-save-btn {
    width: 100%;
    text-transform: uppercase;
}

@media screen and (min-width:481px){
    .flexible-save-btn {
        float: right;
        width: 25%;
    }
}