/* BACKGROUNDS */
.gm-bg-grey {
    background-color: rgb(153, 153, 153);
}

.gm-bg-info {
    background-color: rgb(2, 162, 184);
    color: #ffffff;
}

.gm-bg-primary {
    background-color: rgb(0, 151, 197);
    color: #ffffff;
}

.gm-bg-secondary {
    background-color: rgba(141, 0, 42, 0.698);
    color: #ffffff;
}

.gm-bg-success {
    background-color: rgb(117, 177, 117);
    color: #ffffff;
}

.gm-bg-warning {
    background-color: rgb(253, 185, 122);
    color: #555;
}

/* BORDERS */
.gm-border-grey {
    border-color: rgb(153, 153, 153) !important;    
}

.gm-border-info {
    border-color: rgb(2, 162, 184) !important;
}

.gm-border-primary {
    border-color: rgb(0, 151, 197) !important;
}

.gm-border-secondary {
    border-color: rgba(141, 0, 42, 0.698) !important;
}

.gm-border-success {
    border-color: rgb(117, 177, 117) !important;
}

.gm-border-warning {
    border-color: rgb(253, 185, 122) !important;
}

/* CARDS-BORDERS */
.gm-card-border-grey {
    border-left-color: rgb(153, 153, 153) !important;    
}

.gm-card-border-info {
    border-left-color: rgb(2, 162, 184) !important;
}

.gm-card-border-primary {
    border-left-color: rgb(0, 151, 197) !important;
}

.gm-card-border-secondary {
    border-left-color: rgba(141, 0, 42, 0.698) !important;
}

.gm-card-border-success {
    border-left-color: rgb(117, 177, 117) !important;
}

.gm-card-border-warning {
    border-left-color: rgb(253, 185, 122) !important;
}

/* TEXT */
.gm-text-grey {
    color: rgb(153, 153, 153);    
}

.gm-text-info {
    color: rgb(2, 162, 184);
}

.gm-text-primary {
    color: rgb(0, 117, 195);
}

.gm-text-secondary {
    color: rgba(141, 0, 42, 0.698);
}