/** */
.gm-badge {
    border-radius: 2.5px;
    padding: 0.5px 10px 2px 10px;
    font-size: 0.85em;
}

.gm-stat-card {
    border: 1px solid #dddddd;
    border-left: 5px solid;
    background-color: #ffffff;
}

@media screen and (min-width:481px){
    .gm-stat-card {
        padding: 15px !important;
    }
}