/**/
input {
    background-color: #ffffff;
}

.form-row {
    margin: 0;
}

label {
    font-size: 0.9em;
    color: #666;
}
.gm-input {
    border: none;
    border-bottom: 1px solid #cccccc;
    padding: 5px 0 7.5px 0;
    width: 100%;
}

select.gm-input {
    padding: 14px 0;
    background: transparent;
}

/* 3rd party */
.go2646822163, .gm-input[type=date]{
    border-radius: 5px !important;
    margin: 0 !important;
}