.api-key-wrapper {
    border: 2px solid #C1E3FB;
    border-radius: 5px;
    /* margin-top: 20px; */
}

.api-key-wrapper > div {
    padding: 10px;
    font-weight: bold;
    font-size: 1.05em;
    color: #19415E;
}

.api-key-wrapper > div:first-child {
    background-color: #ffffff;
    margin-top: -10px;
    margin-left: 15px;
    padding: 0 10px;

    width: fit-content;
}