.gm-datatable > section {
    padding: 10px 0;
}

.gm-datatable-header {
    position: fixed;
    float: left;
    padding: 10px 20px !important;
    background-color: #f0f0f0;
}

.gm-datatable-search, .gm-datatable-search input {
    width: 100%;
}

.gm-datatable-search input {
    border: none;
    border-bottom: 1px solid #cccccc;
    background: none;
}

.gm-datatable-search input:focus {
    background: #ffffff;
}

.gm-datatable-table {
    margin-top: 55px;
}

.gm-datatable-item-list-wrapper { 
    height: 95vh;
    padding: 0 20px;
    padding-bottom: 20px;
    overflow-y: scroll;
}

.gm-datatable-bulk-checkbox {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #ffffff;
}

.gm-datatable-bulk-checkbox input[type='checkbox'] {
    width: 100%;
    height: 100%;
    padding: 0;
}

.gm-datatable-actions {
    width: fit-content;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 30px 2.5px 30px;
}

.gm-datatable-actions-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.gm-datatable-actions-wrapper > div:first-child {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.gm-datatable-actions-wrapper .close-action {
    font-size: 1.25em;
}

.gm-datatable-metadata {
    padding: 5px 0 0 15px;
    color: #666666;
}


@media screen and (min-width:481px) {
    .gm-datatable-header {
        position: unset;
        background: unset;
    }
    .gm-datatable-table {
        margin: 0;
    }
}