/**/
.mobi-site-name {
    width: 135px;
    margin-bottom: 5px;
}

.guest-form-wrap {
    width: 100%;
    padding: 20px;

    background-color: #ffffff;
}

.info-card {
    display: none;
}


.form-wrapper {
    width: 100%;
}

.form-switch-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    
    border-top: 1px solid #D7EEFF;

    line-height: 50px;
    text-align: center;

    cursor: pointer;
}

.twin-input {
    width: 100%;
    margin-top: 15px;
}

.twin-input:nth-child(odd) {
    margin-top: 0;
}

@media screen and (min-width:480px){
    .mobi-site-name {
        display: none;
    }

    .guest-form-wrap {
        width: 90%;
        border: 1px solid #D7EEFF;
        border-radius: 5px;

        padding: 10px;
    }

    .guest-form-wrap > div {
        height: 450px;
    }

    .info-card {
        display: block;
        width: 45%; 
    }

    .form-wrapper {
        width: 55%;
        height: 100%;
        padding: 0 30px;
    }

    .form-switch-wrapper {
        position: static;
        
        border: none;
    
        line-height: 50px;
        text-align: right;
    }
}

@media screen and (min-width:1280px){
    .guest-form-wrap {
        width: 900px;
    }
}