section.api-guide span {
    padding: 0;
}

section.api-guide header {
    font-size: 16px;
    font-weight: bold;

    color: #19415E;
}

.api-route-subheader {
    font-weight: bold;
    color: #19415E;
}

section.api-guide code {
    display: block;
    width: 100%;

    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;

    background-color: #F4F8FB;
}

.api-parameter-list {
    background: none !important;
    /* font-size: 14px; */
}

.api-parameters > code > div {
    margin-bottom: 3.5px;
    font-size: 14px;
    font-family: 'Frank Ruhl Libre', serif;
}

.parameter-title {
    width: fit-content;
    margin-right: 10px;
    padding: 1px 5px;

    color: rgb(255, 86, 165);
}

.parameter-description {
    color: #666666;
}

.parameter-description > span {
    font-style: italic;
    font-weight: bold;

    color: #000000;
}