.context-menu-label {
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.gm-action-wrap {
    position: relative;
    top: 0;
    right: 0px;

    width: 0;
    height: 0;
}

.gm-action-context-menu {
    position: absolute;
    top: 15px;
    right: -25px;
    
    border-radius: 5px;
    width: fit-content;
    white-space: nowrap;
    
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    box-shadow: 5px 5px 15px -2px hsla(0, 0%, 80%, 0.7);
    color: #555555;
    font-weight: normal;
}

.gm-action-context-menu ul{
    margin: 0;
    padding: 7.5px 0;
    width: 100%;
}

.gm-action-context-menu li {
    display: block;
    
    padding: 5px 15px;
    width: 100%;
    text-align: left;

    cursor: pointer;
}

.gm-action-context-menu li:hover {
    background-color: #dedede;
}