.tox-statusbar__branding {
    display: none !important;
}

.tox-tinymce {
    border:  1px solid #eeeeee !important;
    border-radius: 5px !important;
    resize: none !important;
    overflow: scroll;
}

.tox-toolbar__primary {
    background-color: #eeeeee !important;
    border: none !important;
}

.tox-statusbar {
    border: none !important;
    background-color: #eeeeee !important;
}

.campaign_label {
    color: #555555;
}