/**/
.side-nav-wrapper {
    position: fixed;
    top: 0;
    left: -100%;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.35);

    z-index: 1;
}

.app-side-nav {
    height: 100%;
    width: 75%;

    background-color: rgb(255,255,255);
}

.app-side-nav header {
    display: flex;
    flex-direction: row;

    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(0, 169, 241, 0.212);
}

.nav-site-icon {
    width: 22.5px;
    height: 22.5px;
    
    margin-left: 12.5px;
}

.nav-site-name {
    width: 100px;
    margin-left: 12.5px;
}

.app-side-nav section {
    width: 100%;
    padding: 12.5px 0;
}

.nav-divider {
    float: right;
    width: 90%;
    border-top: 1px solid #eeeeee;
    margin: 5px 0;
}

/**/
.logout-button-wrapper {
    position: sticky;
    bottom: 0;
    left: 0;

    border-top: 1px solid #ccc;
    padding: 10px 15px;
    padding-left: 25px;
}

.logout-button {
    border: 2px solid rgb(235, 78, 78);
    padding: 8px;
    width: 100%;

    background: #fff;
    color: rgb(235, 78, 78);
    font-weight: bold;
    text-align: center;
}