/**/
.side-nav-wrapper {
    position: fixed;
    top: 0;
    left: -100%;

    height: 100%;
    width: 100%;

    z-index: 99;
}

.app-side-nav {
    height: 100%;
    width: 75%;

    background-color: #ffffff;
}

.app-side-nav header {
    display: flex;
    flex-direction: row;

    height: 50px;
    width: 100%;

    border-bottom: 1px solid rgba(232, 245, 255, 0.1);
    padding: 10px;        
}

.nav-site-icon {
    width: 25px;
    height: 25px;
    
    border-radius: 50%;
    margin-left: 12.5px;
    margin-top: 2.5px;
    padding: 0.5px;

    background-color: #E8F5FF;
}

.nav-site-name {
    width: fit-content;
    margin-left: 15px;

    color: #E8F5FF;
    font-size: 1.45rem;
    font-weight: bold;
}

.app-side-nav section {
    width: 100%;
    padding: 5px 0;
}

.nav-divider {
    float: right;
    width: 90%;
    border-top: 1px solid rgba(232, 245, 255, 0.1);
    margin: 5px 0;
}

/**/
.logout-button-wrapper {
    position: sticky;
    bottom: 0;
    left: 0;

    border-top: 1px solid #ccc;
    padding: 10px 15px;
    padding-left: 25px;
}

.logout-button {
    border: 2px solid rgb(235, 78, 78);
    padding: 8px;
    width: 100%;

    background: #fff;
    color: rgb(235, 78, 78);
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width:481px) {
    .app-side-nav {
        width: 40%;
    }

    .app-side-nav header {
        height: 60px;
        padding: 10px 25px;
    }

    .nav-site-icon {
        width: 30px;
        height: 30px;
    }

    .nav-site-name {
        font-size: 1.65rem;
    }
}
@media screen and (min-width: 1024px) {
    .app-side-nav {
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .app-side-nav {
        border-top-left-radius: 10px;
    }

    .app-side-nav section {
        padding-left: 20px;
    }

    .app-side-nav header {
        padding: 15px;
    }
}