body {
  margin: 0;
  font-family: 'Bentham', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

select:focus, input:focus, textarea:focus, button:focus {
  outline: none;
  border-bottom: 1px solid #C1E3FB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div, section, input, textarea, select, form {
  box-sizing: border-box;
  float: left;
}

div {
  width: 100%;
}

img {
  width: 100%;
}

/* setting float on tables cause them to display in a row */
table {
  width: 100%;
}

.is-clickable {
  cursor: pointer;
}

.mobi-show {
  display: initial;
}

.mobi-hide {
  display: none !;
}

/** LAYOUT **/
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
