/**/
.side-nav-item {
    display: inline-block;
    width: 100%;
}
.side-nav-item > div {
    float: right;
    width: 95%;

    display: flex;
    flex-direction: row;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 10px;
}

.side-nav-item:hover > div, .side-nav-item.active > div {
    /* font-weight: bold; */
    border-right: 4px solid #F4F8FB;
    background-color: hsla(205, 58%, 47%, 0.20);
    color: #F4F8FB;
    cursor: pointer;
}

.nav-icon {
    width: 20px;
    height: 20px;

    margin-right: 20px;
}

.nav-icon > span {
    font-size: 18px !important;
}

.nav-title {
    font-size: 0.85rem;
    letter-spacing: 0.75px;
}

@media screen and (min-width:481px){
    .side-nav-item {
        padding: 5px 0 0 15px;
    }
}

@media screen and (min-width: 1280px){
    .side-nav-item {
        padding-left: 0px;
    }

    .side-nav-item > div {
        width: 100%;
    }

    .nav-title {
        letter-spacing: 0.5px;
    }
}