/**/
.side-nav-item {
    display: inline-block;
    width: 100%;
}
.side-nav-item > div {
    float: right;
    width: 100%;

    display: flex;
    flex-direction: row;

    padding: 10px 20px 10px 25px;

    color: #23608C;
}

.side-nav-item:hover > div, .side-nav-item.active > div {
    font-weight: bold;
    background-color: #E8F5FF;
    cursor: pointer;
}

.nav-icon {
    width: 25px;
    height: 20px;

    margin-right: 20px;
}

.nav-title {
    font-size: 0.95em;
}

@media screen and (min-width:481px){
    .side-nav-item {
        padding: 12.5px 0 0 15px;
    }
}

@media screen and (min-width: 1024px){
    .side-nav-item {
        padding-left: 5px;
    }

    .side-nav-item > div{
        width: 100%;
    }

    .nav-title {
        font-size: 1.05em;
    }
    
    .side-nav-item.active > div {
        font-weight: bold;
    }
}